@tailwind base;
@tailwind components;
@tailwind utilities;

.character-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.character-profile:hover {
  border: 0.2rem solid rgb(252 211 77);
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, button {
  color: white;
}